.btn{
    @include button-main;
   
    width: 120px; 
    margin: 3.2rem auto 2.1rem auto;
}

.btn-symbol-circle{
    @include button-symbol(49px, 25px, $color3, $color2);

    margin: 0 auto;
    &:hover{ color: $color1; }
}

.btn-symbol-square{
    @include button-symbol(20px, 0, $color2, $btn-bg);
     padding: 13px 11px;
     width: 44px;
     height: 44px;
}