@mixin fontLato($weight: normal, $fsize: 1rem, $color: $color1){
    font: $weight $fsize $fontLato;
    color: $color;
}

@mixin button_base($b-radius, $t-color, $bg-color){
    background-color: $bg-color;
    color: $t-color;

    display: block;
    border-radius: $b-radius;
    padding: 1rem;
    text-transform: uppercase;
}

@mixin button-main($fsize: 13px, $b-radius: 0, $t-color: $color2, $bg-color: $btn-bg){
    @include button_base($b-radius, $t-color, $bg-color);
    @include fontLato(bold, $fsize, $t-color);
}

@mixin button-symbol($fsize: 13px, $b-radius: 0, $t-color: $color2, $bg-color: $btn-bg){
    @include button_base($b-radius, $t-color, $bg-color);

    font: normal $fsize 'themify';
    padding: 0;
    width: $fsize;
    font-weight: 900;

    &:hover{ text-decoration: none; }
}

@mixin list($fsize: 1.3rem, $t-color: $color1){
    @include fontLato(bold, $fsize, $t-color);

    list-style-type: none;
    position: relative;

    li{
        padding-bottom: 1.3rem;

        i{
            position: absolute;
            left: 0;
            font-size: $fsize;
        }
        a{ color: $color1; }
    }
}