.section-portfolio{
    &__header{ @include fontLato(normal, 2.8rem, $color1); text-align: center; }
    &__content{ @include fontLato(normal, 1.6rem, $color1); text-align: center; }

    .nav{
        justify-content: center;

        &-link{ width: auto; margin-right: 1rem; }
        &-link.active{ background-color: darken($btn-bg, 10%); color: $color2; }
    }
    
    .portfolio{
        &__link{ color: $color2; }
        &__link:hover .portfolio__container{ display: block; }
        &__img{ max-width: 100%; position: relative; }
        &__container{ position: absolute; left: 22%; top: 40px; display: none; }
        &__container div{ padding-top: 40px; }
        &__search{
            font-size: 21px;
            background-color: $srch-color;
            color: $color2;
            padding: 12px;
            border-radius: 40px;
            margin: 25px;
        }
        &__descr-header{ @include fontLato(normal, 18px, $color2); }
        &__descr-content{ @include fontLato(normal, 14px, $color2); }
    }
}