.section-contactus{
    &__header{ @include fontLato($fsize: 2.8rem); padding-top: 5.1rem; }
    &__content{ @include fontLato($fsize: 1.4rem); padding-bottom: 3.4rem; }
    &__header, &__content{ text-align: center; }
    &__subheader{ @include fontLato($fsize: 1.4rem); padding-bottom: 2.1rem; }

    .form-contact{
        &__input{ width: 44%; height: 3.8rem; margin-bottom: 2.2rem; }
        &__text{ width: 100%; height: 15.2rem; }
        &__input, &__text{ @include fontLato($fsize: 1.4rem); }
    }

    .loc{
        @include list(1.4rem, $color1);

        &__item { }
        &__link{ }
    }
}