/* Некоторые шрифты отсутствуют в fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap&subset=cyrillic');
@font-face {
    font-family: 'Source Sans Pro'; src: url('../fonts/SourceSansPro-Light.ttf');
    font-style: normal; font-weight: normal;
}
@font-face{
    font-family: 'Source Sans Pro'; src: url('../fonts/SourceSansPro-Bold.ttf');
    font-style: normal; font-weight: bold;
}
@font-face{
    font-family: 'Century Gothic'; src: url('../fonts/CenturyGothic.ttf');
    font-style: normal; font-weight: normal;
}
@font-face{
    font-family: 'Helvetica LT Ultra Compresssed'; src: url('../fonts/HelveticaLTU.ttf');
    font-style: normal; font-weight: normal;
}

*{ padding: 0; margin: 0; font-size: 10px; }
.bg-color{ background-color: #faa61a; }

.panel{ height: 2.8rem; width: 40%; margin: 0; }
.form{ font: 1.6rem 'Century Gothic'; }
.form__input{ height: 1.8rem;}
.form__button{ text-transform: uppercase; }
.form__input, .form__button{ font: 1.6rem 'Century Gothic'; }
.social, .social span { font-size: 1.8rem; color: #ffffff; }

/*      HEADER      HEADER      HEADER      HEADER      HEADER      HEADER      HEADER      */
.header{ color: black; }
.header__link{ font: normal 4.1rem 'Source Sans Pro', sans-serif; color: black; }
.header__text{ font-weight: bold; font-size: 4.1rem; }

.nav-link{ color: black; font-size: 1.4rem; text-transform: uppercase; }
.nav-link::before{ content: " > "; color: #faa61a; }

/*      SECTION-MAIN      SECTION-MAIN      SECTION-MAIN      SECTION-MAIN      SECTION-MAIN */
.section-main{ height: 54.8rem; position: relative; padding: 0 2rem; }

.section-main__header{ font: normal 12.4rem 'Helvetica LT Ultra Compresssed', sans-serif;}
.block1{ height: 36.8rem; }
.block1__mheader{
    font: italic 2.8rem 'Centure Gothic'; position: absolute; top: 5rem ; left: -1.3rem;
    color: white; background-color: black;
}
.block1__header{
    margin-top: 1.8rem; display: inline-block; background-color: white;
    text-transform: uppercase; font: bold 1.4rem 'Source Sans Pro', sans-serif;
}
.block1__text{ font: normal 1.4rem 'Source Sans Pro', sans-serif; color: white; }
.card{ border: 0; border-radius: 0; }
.card-text{ font: normal 1.4rem 'Source Sans Pro', sans-serif; }
.btn-primary{ background: black; border: 0; border-radius: 0; position: relative; margin-right: 1.5rem; }
.btn-primary::after{
    content: " >"; background-color: #faa61a; position: absolute; right: -1.5rem; top: 0;
    padding: .375rem .4rem; font-size: 1rem;
}

/*      SECTION-PROGRESS      SECTION-PROGRESS      SECTION-PROGRESS      SECTION-PROGRESS */
.section-progress{ }