<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bak-one</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="vendors/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header id="home">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <div class="logo">
                    <img src="img/ui/logo.jpg" alt="logo">
                    <div>
                        <h2>BAK-ONE</h2>
                        <p>One Page Flat Template</p>
                    </div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse float-right" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section-brand">
        <div class="container">
            <div class="wrapper">
                <h2 class="section-brand__header">We Build <span>Brand</span></h2>
                <p class="section-brand__content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <a href="#" class="btn">Learn More</a><Br>
                <a href="#portfolio" class="btn-symbol-circle ti-arrow-circle-down"></a>
            </div>
        </div>
    </section>

    <section id="portfolio" class="pt-5 section-portfolio">
        <div class="container">
            <div class="wrapper">
                <h2 class="section-portfolio__header">Portfolio</h2>
                <p class="section-portfolio__content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                <ul class="nav" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="btn nav-link active" id="all-tab" data-toggle="tab" href="#block-all" role="tab"
                            aria-controls="all" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" id="webdesign-tab" data-toggle="tab" href="#block-webdesign" role="tab"
                            aria-controls="webdesign" aria-selected="false">Web design</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" id="graphicdesign-tab" data-toggle="tab" href="#block-graphicdesign"
                            role="tab" aria-controls="graphicdesign" aria-selected="false">Graphic design</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" id="flatdesign-tab" data-toggle="tab" href="#block-flatdesign" role="tab"
                            aria-controls="flatdesign" aria-selected="false">Flat design</a>
                    </li>
                </ul>
            </div> <!-- wrapper -->
        </div> <!-- container -->
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="block-all" role="tabpanel" aria-labelledby="all-tab">
                    <div class="row">
                        <!-- row 1 -->
                        <!-- all-tab -->
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/camera.jpg" alt="camera" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/music.jpg" alt="music" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/settings.jpg" alt="settings" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/compass.jpg" alt="compass" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- row 2 -->
                        <!-- all-tab -->
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/phone.jpg" alt="phone" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/graf.jpg" alt="graf" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/camera.jpg" alt="camera" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 portfolio">
                            <a href="#" class="portfolio__link">
                                <img src="img/portfolio/music.jpg" alt="music" class="portfolio__img">
                                <div class="portfolio__container">
                                    <span class="ti-search portfolio__search"></span>
                                    <div>
                                        <h4 class="portfolio__descr-header">Example Title</h4>
                                        <p class="portfolio__descr-content">Web Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="block-webdesign" role="tabpanel" aria-labelledby="webdesign-tab">
                    webdesign-tab
                </div>
                <div class="tab-pane fade" id="block-graphicdesign" role="tabpanel" aria-labelledby="graphicdesign-tab">
                    grapicdesign-tab
                </div>
                <div class="tab-pane fade" id="block-flatdesign" role="tabpanel" aria-labelledby="flatdesign-tab">
                    flatdesign-tab
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="section-aboutus">
        <div class="container">
            <h2 class="section-aboutus__header">About Us</h2>
            <p class="section-aboutus__content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="card">
                        <img src="img/aboutus/mellanie.jpg" class="card-img-top" alt="Mellanie">
                        <div class="card-panel">
                            <a href="#"><span class="ti-facebook"></span></a>
                            <a href="#"><span class="ti-twitter"></span></a>
                            <a href="#"><span class="ti-google"></span></a>
                            <a href="#"><span class="ti-dribbble"></span></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Melannie Doe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Project Manager</h6>
                            <p class="card-text">
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="card">
                        <img src="img/aboutus/jhonnie.jpg" class="card-img-top" alt="jhonnie">
                        <div class="card-panel">
                            <a href="#"><span class="ti-facebook"></span></a>
                            <a href="#"><span class="ti-twitter"></span></a>
                            <a href="#"><span class="ti-google"></span></a>
                            <a href="#"><span class="ti-dribbble"></span></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Jhonnie Doe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Graphic Designer</h6>
                            <p class="card-text">
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="card">
                        <img src="img/aboutus/daniel.jpg" class="card-img-top" alt="daniel">
                        <div class="card-panel">
                            <a href="#"><span class="ti-facebook"></span></a>
                            <a href="#"><span class="ti-twitter"></span></a>
                            <a href="#"><span class="ti-google"></span></a>
                            <a href="#"><span class="ti-dribbble"></span></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Daniel Doe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Web Designer</h6>
                            <p class="card-text">
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section-contactus">
        <div class="container">
            <h2 class="section-contactus__header">Contact Us</h2>
            <p class="section-contactus__content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <div class="row">
                <div class="col-12  col-sm-7">
                    <form action="" class="form-contact">
                        <input type="text" placeholder="Your name" class="form-contact__input">
                        <input type="mail" placeholder="Your mail" class="form-contact__input float-right">
                        <textarea placeholder="Your message" class="form-contact__text"></textarea>
                        <a href="#" class="btn float-right" type="submit">Submit</a>
                    </form>
                </div>
                <div class="col-12 col-sm-5">
                    <h2 class="section-contactus__subheader">INFORMATION</h2>
                    <ul class="loc">
                        <li class="loc__item"><i class="ti-location-pin"></i><span>
                                Bak-One Company<br>
                                12345 Hollywood Bvld Street<br>
                                Los Angeles, California</span>
                        </li>
                        <li class="loc__item"><i class="ti-mobile"></i>
                            <a href="call:+444123456" class="loc__link">+444 (Phone) 123456</a>
                        </li>
                        <li class="loc__item"><i class="ti-printer"></i>
                            <a href="#" class="loc__link">+123 (FAX) 0011223</a>
                        </li>
                        <li class="loc__item"><i class="ti-email"></i>
                            <a href="mailto:info@bak-onecompany.com" class="loc__link">info@bak-onecompany.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <span class="footer__copyright">&copy; Copyright 2013 Bak-One | One Page Flat Template</span>
            <a href="#home" class="ti-angle-up btn-symbol-square footer__button"></a>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>

    <script src="js/main.min.js"></script>
</body>

</html>