<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financian Company - Landing</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="contacts">
        <div>
            <div class="contacts__block">
                <img class="contacts__icon" src="images/ui/" alt="phone">
                <span class="contacts__info">7834508542</span>
            </div>
            <div class="contacts__block">
                <img class="contacts__icon" src="images/ui/" alt="mail">
                <span class="contacts__info">info@businesscompany.com</span>
            </div>
        </div>
        <div class="contacts__social">
            <img src="" alt="fb">
            <img src="" alt="twitter">
            <img src="" alt="ln">
            <img src="" alt="gp">
        </div>
    </div>
    <header>
        <img src="images/ui/" alt="logo">
        <div>
            <nav id="menu"></nav>
            <form class="search" action="#" method="post">
                <input type="text">
                <button></button>
            </form>
        </div>
    </header>
    #header
    #welcome
    #consultation
    #team
    #services
    #clients
    #about
    #contact
    <footer></footer>
</body>
</html>