<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financian Company - Landing</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="contacts">
        <div class="wrapper">
            <div class="contacts__body cols">
                <div>
                    <div class="contacts__block cols">
                        <div>
                            <img class="contacts__icon" src="images/ui/phone.png" alt="phone">
                            <span class="contacts__info">7834508542</span>
                        </div>
                        <div>
                            <img class="contacts__icon" src="images/ui/mail.png" alt="mail">
                            <span class="contacts__info">info@businesscompany.com</span>
                        </div>
                    </div>
                </div>
                <div class="contacts__block cols">
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/fb.png" alt="fb"></a>
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/tw.png" alt="tw"></a>
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/ln.png" alt="ln"></a>
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/gp.png" alt="gp"></a>
                </div>
            </div>
        </div>
    </div>
    <header class="header">
        <div class="wrapper">
            <div class="header__body cols">
                <a href="#" class="header__logo"><img src="images/ui/logo.png" alt="logo"></a>
                <div class="header__nav cols">
                    <nav class="menu">
                        <a href="#" class="menu__link menu__link_active">Home</a>
                        <a href="#" class="menu__link">About</a>
                        <a href="#" class="menu__link">Services</a>
                        <a href="#" class="menu__link">Contact Us</a>
                    </nav>
                    <div>
                        <form class="form form_search" action="#" method="post">
                            <input type="text" placeholder="SEARCH YOUR" class="form__search">
                            <a href="#" class="button form__submit">?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="header">
        <div class="wrapper">
            <div class="cblock1">
                <h2 class="cblock1__header">Financial Company</h2>
                <p class="cblock1__content">
                    Collaborating with key partners, the CAQ produces to<br>
                    promote deterrence statement fraud.
                </p>
                <a href="#" class="cblock1__button button">LEARN MORE</a>
            </div>
        </div>
    </section>
    <section id="welcome">
        <div class="wrapper">
            <div class="cblock2">
                <h2 class="cblock2__header">Welcome to  Financial Company</h2>
                <div class="cblock2__lines">
                    <hr class="cblock2__line1">
                    <hr class="cblock2__line2">
                </div>
                <div class="cblock2__content">
                    Social media use by the financial services industry is prevalent and can be
                    expected to grow as the social networks continue to expand and become further
                    entrenched in the public’s online consciousness.
                    However, the industry has lagged corporate peers, likely due to regulatory
                    concerns. In the authors’ view, however, regulatory concerns or paralysis,
                    but instead should be considered in the context of the business purposes behind
                    a financial intended use of social media. Firms that have a clear business  
                </div>
            </div>    
        </div>
    </section>
    <section id="consultation">
        <div class="wrapper">
            <div class="cblock1 cblock1_center">
                <span class="cblock1__header cblock1__header_small">Every 1st Consultation</span>
                <h2 class="cblock1__header white">With Us is FREE!</h2>
                <hr class="cblock1__line">
                <a href="#" class="cblock1__button button">READ MORE</a>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="wrapper">
            <div class="cblock2">
                <h2 class="cblock2__header">Our Expert Team</h2>
                <div class="cblock2__lines">
                    <hr class="cblock2__line1">
                    <hr class="cblock2__line2">
                </div>
            </div>
        </div>
        <div id="team-bg">
            <div class="wrapper">
                <div class="cblock2__body cols">
                    <div class="cblock2__block"> <!-- person 1 -->
                        <img src="images/content/persons/adoui.jpg" alt="adoui" class="cblock2__img">
                        <h2 class="cblock2__header cblock2__header_small">AMRIKOCH DOUI</h2>
                        <p class="cblock2__descr">
                            Over the years of our business’ existence, we’ve been solving thousands
                            of puzzling business, and not a workaround! This is true when we 
                        </p>
                    </div>
                    <div class="cblock2__block"> <!-- person 2 -->
                        <img src="images/content/persons/willey.jpg" alt="willey" class="cblock2__img">
                        <h2 class="cblock2__header cblock2__header_small">Patrick Willey</h2>
                        <p class="cblock2__descr">
                            Over the years of our business’ existence, we’ve been solving thousands
                            of puzzling business, and not a workaround! This is true when we 
                        </p>
                    </div>
                    <div class="cblock2__block"> <!-- person 3 -->
                        <img src="images/content/persons/brown.jpg" alt="brown" class="cblock2__img">
                        <h2 class="cblock2__header cblock2__header_small">Ellie Brown</h2>
                        <p class="cblock2__descr">
                            Over the years of our business’ existence, we’ve been solving thousands
                            of puzzling business, and not a workaround! This is true when we 
                        </p>
                    </div>
                    <div class="cblock2__block"> <!-- person 4 -->
                        <img src="images/content/persons/jdoui.jpg" alt="jdoui" class="cblock2__img">
                        <h2 class="cblock2__header cblock2__header_small">JUCK  DOUI</h2>
                        <p class="cblock2__descr">
                            Over the years of our business’ existence, we’ve been solving thousands
                            of puzzling business, and not a workaround! This is true when we 
                        </p>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <section id="services">
        <div class="wrapper">
            <div class="cblock2">
                <h2 class="cblock2__header">Our Services</h2>
                <div class="cblock2__lines">
                    <hr class="cblock2__line1">
                    <hr class="cblock2__line2">
                </div>
            </div>
            <div class="cblock2__body cols">
                <div class="cblock2__content"> <!-- Service1 -->
                    <div class="cblock2__block cblock2__block_little">
                        <img src="images/content/services/planning.png" alt="planning" class="cblock2__img cblock2__img_services">
                        <h2 class="cblock2__header cblock2__header_small">Business Planning</h2>
                        <p class="cblock2__descr">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have  
                        </p>
                    </div>
                </div>
                <div class="cblock2__content"> <!-- Service2 -->
                    <div class="cblock2__block cblock2__block_little">
                        <img src="images/content/services/investment.png" alt="investment" class="cblock2__img cblock2__img_services">
                        <h2 class="cblock2__header cblock2__header_small">Investment</h2>
                        <p class="cblock2__descr">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have   
                        </p>
                    </div>
                </div>
                <div class="cblock2__content"> <!-- Service3 -->
                    <div class="cblock2__block cblock2__block_little">
                        <img src="images/content/services/exit.png" alt="exit" class="cblock2__img cblock2__img_services">
                        <h2 class="cblock2__header cblock2__header_small">Exit Planning</h2>
                        <p class="cblock2__descr">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have  
                        </p>
                    </div>
                </div>
                <div class="cblock2__content"> <!-- Service4 -->
                    <div class="cblock2__block cblock2__block_little">
                        <img src="images/content/services/research.png" alt="research" class="cblock2__img cblock2__img_services">
                        <h2 class="cblock2__header cblock2__header_small">Market Research</h2>
                        <p class="cblock2__descr">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients">
        <div class="wrapper">
            <div class="cblock2">
                <h2 class="cblock2__header white cblock2__header_clients">WHATS OUR CLIENT SAYS</h2>
                <div id="cblock2__lines-clients">
                    <hr id="cblock2__line1-clients">
                    <hr id="cblock2__line2-clients">
                </div>
                <div class="cblock2__content white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. 
                </div>
                <img src="images/content/persons/client1.png" class="cblock2__img_clients">
                <a href="#" class="cblock1__button cblock1__button_center button">READ MORE</a>
            </div>
    </section>
    <section id="about">
        <div class="wrapper">
            <div class="cblock2">
                <h2 class="cblock2__header">About Us</h2>
                <div class="cblock2__lines">
                    <hr class="cblock2__line1">
                    <hr class="cblock2__line2">
                </div>
                <div class="cblock2__content">
                    <p>
                        A conservative financial services firm seek a web presence.Saying About Us<br>
                        Our extensive expertise will make sure that yours is a SUCCESS STORY once<br>
                        again!
                    </p>
                    <p>
                        If you need your business flourish despite all circumstances, then it is a
                        perfect<br> strategic planning
                    </p><br>
                    <p>
                        to do. Use our strategic planning services to grant you prosperity<br>
                        help our clients tak advantage of any investment out in the world – from<br>
                        commodities<br>   
                        Sarah Lespberry<br>
                        teache
                    </p> 
                </div>
            </div>    
        </div>
    </section>
    <section id="contact">
        <div class="wrapper">
            <div class="cols contact">
                <div class="cblock3">
                    <h2 class="cblock3__header white">REQUEST FOR CALL BACK</h2>
                    <p class="cblock3__content white">
                        Whatever types of questions you’ll have, feel free to get in touch with usOur
                        extensive expertise will make sure that yours is a  once again!
                    </p>
                </div>
                <form action="" method="post" class="form">
                    <input type="text" placeholder="First Name" class="form__input">
                    <input type="text" placeholder="Last Name" class="form__input"><br>
                    <input type="text" placeholder="Company" class="form__input">
                    <input type="mail" placeholder="Your Email" class="form__input"><br>
                    <textarea name="" placeholder="Message" class="form__text"></textarea><br>
                    <a href="#" class="form__button">SEND</a>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <section class="wrapper cols footer">
            <div class="fblock fblock_aboutus">
                <h2 class="fblock__header">ABOUT US</h2>
                <p class="fblock__content">
                    A conservative financial services firm seek a web presenceEquanto is one of
                    the leading companies providing business services for small, medium-sized
                    businesses and large corporation.
                </p>
                <div class="fblock__content">
                    <img class="contacts__icon" src="images/ui/loc.png" alt="loc">
                    <span class="contacts__info">9870 St Vincent Place,<br>Glasgow, DC 45 Fr 45.</span>
                </div>
                <div class="fblock__content">
                    <img class="contacts__icon" src="images/ui/phone.png" alt="phone">
                    <span class="contacts__info">7834508542</span>
                </div>
                <div class="fblock__content">
                    <img class="contacts__icon" src="images/ui/mail.png" alt="mail">
                    <span class="contacts__info">info@businesscompany.com</span>
                </div>
            </div>
            <div class="fblock">
                <h2 class="fblock__header">CONTACT</h2>
                <p class="fblock__content">
                    <ul class="fblock__list">
                        <li class="fblock__item"><a href="#" class="fblock__link">Sitemap</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Fee Schedules</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Privacy/Security</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Disclosures</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Terms of Service</a></li>
                    </ul>
                </p>
            </div>
            <div class="fblock">
                <h2 class="fblock__header">OUR SERVICES</h2>
                <p class="fblock__content">
                    <ul class="fblock__list">
                        <li class="fblock__item"><a href="#" class="fblock__link">Business</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Buying Safe</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Creating</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Investment</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Planning</a></li>
                        <li class="fblock__item"><a href="#" class="fblock__link">Strategic</a></li>
                    </ul>
                </p>
            </div>
            <div class="fblock fblock_news">
                <h2 class="fblock__header">NEWS LETTER</h2>
                <p class="fblock__content">
                    Subscribe to our newsletter to get the latest news, tips, and advice.
                </p>
                <div class="fblock__content">
                    <form action="#" method="post" class="form form_mail">
                        <input type="mail" placeholder="Email Address" class="form__input form__input_mail">
                        <a href="#" class="form__button form__button_mail white">SEND</a>
                    </form>
                </div>
                <div class="contacts__block contacts__block_footer cols">
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/fb.png" alt="fb"></a>
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/tw.png" alt="tw"></a>
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/ln.png" alt="ln"></a>
                    <a href="#" class="contacts__icon contacts__icon_social"><img src="images/ui/social/gp.png" alt="gp"></a>
                </div>
            </div>        
        </section>
        <div class="wrapper copyright">© 2018businesscompany.com</div>
    </footer>
</body>
</html>