.header {
  background: $c-header-bg;
  padding: 2rem 0;
  .navbar {
    flex-wrap: wrap;
  }
  &__container {
    display: flex;
    align-items: center;
  }
  .form {
    padding: 4px;
    background-color: $c-search-bg;
    margin: 0 4rem;
    &__input {
      @include font($color03, normal, 2.3rem, $font-main);
      border: 0;
      width: 62.4%;
    }
    &__button {
      @include font($color01, normal, 2.3rem, $font-main);
      background-color: $c-search-bg;
      border: 0;
    }
  }
  .backet {
    border-right: 1px solid $color02;
    margin-right: 2rem;
    &__container {
      display: flex;
      align-items: center;
      padding-right: 1rem;
    }
    &__icon {
      color: $c-search-bg;
      font-size: 2.3rem;
      padding-right: 1rem;
    }
    &__header {
      @include font($color02, normal, 2.3rem, $font-main);

      span {
        font-size: 1.3rem;
      }
    }
    &__price {
      @include font($color02, bold, 2.7rem, $font-main);
      margin: 6px;
    }
    &__button {
      @include font($color01, normal, 1.5rem, $font-main);
      padding: 6px;
      border-radius: 5px;
      background-color: $color08;
      margin-left: 1.2rem;
    }
    &__button:hover {
      text-decoration: none;
    }
  }
  .wishlist {
    position: relative;
    min-width: 9rem;
    min-height: 7rem;
    &__icon {
      background-color: $c-panel-bg;
      color: $color07;
      font-size: 1.6rem;
      padding: 0.5rem;
      border-radius: 1.5rem;
      position: absolute;
      top: 20%;
      left: 20%;
    }
    &__header {
      @include font($color02, normal, 2.1rem, $font-main);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__count {
      @include font($color01, normal, 1.3rem, $font-main);
      background-color: $c-search-bg;
      padding: 0 0.5rem;
      border-radius: 1.5rem;
      position: absolute;
      bottom: 3rem;
      right: 1rem;
    }
  }
}
