.section-menu {
  border-top: 2px solid $color09;
  border-bottom: 2px solid $color10;
  .navbar {
    padding: 0.2rem 1rem;
    &-nav {
      flex-wrap: wrap;
    }
  }
  .nav-item {
    padding-right: 3rem;
    background-color: $c-content-bg;
  }
  .nav-link {
    @include font($color03, normal, 1.9rem, $font-main);
    &:hover, &.active {
      background: $c-menu-bg;
      color: $color01;
    }
  }
}

.navbar-toggler{
  font-size: 4rem;;
}
