<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leo Shop</title>
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mobile.css">
</head>
<body>
    <header>
        <div class="wrapper flex panel">
            <div class="panel__i18n">
                <label for="Language">Language:</label>
                <select name="Language" id="Language">
                    <option value="0">English</option>
                    <option value="1">Russian</option>
                </select>
            
                <label for="Currency">Currency:</label>
                <select name="Currency" id="Currency">
                    <option value="0">USD</option>
                    <option value="1">RUB</option>
                </select>
            </div> <!-- .panel__i18n -->

            <div class="panel__menu">
                <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__link menu__link_panel">Account</a></li>
                    <li class="menu__item"><a href="#" class="menu__link menu__link_panel">Wishlist</a></li>
                    <li class="menu__item"><a href="#" class="menu__link menu__link_panel">Checkout</a></li>
                    <li class="menu__item"><a href="#" class="menu__link menu__link_panel">Log In</a></li>
                    <li class="menu__item"><a href="#" class="menu__link menu__link_panel">Sign Up</a></li>
                </ul>
            </div>
        </div>
            
        <div class="wrapper flex header">
            <div class="flex">
                <div class="header__logo">
                    <a href="/">
                        <img src="images/ui/logo.png" alt="logo">
                    </a>
                </div>
                <div class="header__menu">
                    <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__link menu__link_header">HOME</a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link_header">WOMEN</a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link_header">MAN</a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link_header">OTHER</a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link_header">PURCHASE</a></li>
                    </ul>
                </div>
                
            </div> 
            <div class="flex">
                <div class="header__search">
                    <form action="#" class="search" >
                        <input type="text" placeholder="search..." class="search__input"><!--
                        --><button type="submit" class="search__button">?</button>
                    </form>
                </div>
                
                <div class="header__shop">
                    <div class="flex shop">
                        <div class="flex shop__content">
                            <a href="#" class="shop__link"><img src="images/ui/discont.png" alt="discont"></a>
                            <a href="#" class="shop__link"><img src="images/ui/backet.png" alt="backet"></a>
                        </div>
                        <div>CART(<span class="shop__cart">0</span>)</div>
                    </div>
                </div>
            </div>
        </div>
            
    </header>

    <section class="main-slider">
        <div><img src="images/slick/main-slide_1.jpg" alt="main-slide1"></div>
        <div><img src="images/slick/main-slide_1.jpg" alt="main-slide2"></div>
        <div><img src="images/slick/main-slide_1.jpg" alt="main-slide3"></div>
    </section>

    <div class="wrapper flex">
        <div class="content">
            <h2 class="content__header">FEATURED PRODUCTS</h2>
            <section class="flex">
                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b1.jpg" alt="s1_b1">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Lorem Ipsum is simply.</h4>
                            <span class="cblock__price">$388</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b2.jpg" alt="s1_b2">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <!-- <img class="photo-new" src="images/content/new.png" alt="photo-new"> -->
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Nullam vestibulum.</h4>
                            <span class="cblock__price">$90.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b3.jpg" alt="s1_b3">
                        <!-- sale -->
                        <img class="photo-sale" src="images/content/sale.png" alt="photo-sale">
                        <!-- new -->
                        <!-- <img class="photo-new" src="images/content/new.png" alt="photo-new"> -->
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Donec et lorem suscipit.</h4>
                            <s>$460</s>
                            <span class="cblock__price">$300.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>
            </section>
            <section class="flex">
                <!-- row2 -->
                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b4.jpg" alt="s1_b4">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <!-- <img class="photo-new" src="images/content/new.png" alt="photo-new"> -->
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Curabitur pretium dui.</h4>
                            <span class="cblock__price">$180.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b5.jpg" alt="s1_b5">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Lorem Ipsum is simply</h4>
                            <span class="cblock__price">$278.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b6.jpg" alt="s1_b6">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <!-- <img class="photo-new" src="images/content/new.png" alt="photo-new"> -->
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Sed tempus tellus.</h4>
                            <span class="cblock__price">$378.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>
            </section>
            <section class="flex">
                <!-- row 3 -->
                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b7.jpg" alt="s1_b7">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Lorem Ipsum is simply.</h4>
                            <span class="cblock__price">$500.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b8.jpg" alt="s1_b8">
                        <!-- sale -->
                        <img class="photo-sale" src="images/content/sale.png" alt="photo-sale">
                        <!-- new -->
                        <!-- <img class="photo-new" src="images/content/new.png" alt="photo-new"> -->
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Etiam egestas velit.</h4>
                            <s>$460</s>
                            <span class="cblock__price">$200.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b9.jpg" alt="s1_b9">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Mauris viverra magna.</h4>
                            <span class="cblock__price">$370.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>
            </section>
            <h2 class="content__header">STAFF PICK</h2>
            <section class="flex">
                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b9.jpg" alt="s1_b9">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Lorem Ipsum is simply.</h4>
                            <span class="cblock__price">$378.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b5.jpg" alt="s1_b5">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <!-- <img class="photo-new" src="images/content/new.png" alt="photo-new"> -->
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Mauris viverra magna.</h4>
                            <span class="cblock__price">$278.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b3.jpg" alt="s1_b3">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Curabitur pretium dui.</h4>
                            <span class="cblock__price">$188.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>
            </section>
            <h2 class="content__header">NEW PRODUCTS</h2>
            <section class="flex">
                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b6.jpg" alt="s1_b6">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Sed tempus tellus.</h4>
                            <span class="cblock__price">$90.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b3.jpg" alt="s1_b3">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <img class="photo-new" src="images/content/new.png" alt="photo-new">
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Nulla accumsan lect.</h4>
                            <span class="cblock__price">$60.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>

                <div class="cblock">
                    <div class="cblock__photo">
                        <!-- product -->
                        <img class="photo-product" src="images/content/s1_b4.jpg" alt="s1_b4">
                        <!-- sale -->
                        <!-- <img class="photo-sale" src="images/content/sale.png" alt="photo-sale"> -->
                        <!-- new -->
                        <!-- <img class="photo-new" src="images/content/new.png" alt="photo-new"> -->
                    </div>
                    <div class="flex cblock__info">
                        <div>
                            <h4 class="cblock__header">Lorem Ipsum is simply.</h4>
                            <span class="cblock__price">$378.00</span>
                        </div>
                        <a href="#"><img src="images/content/backet.png" alt="backet"></a>
                    </div>
                </div>
            </section>
        </div>

        <div class="sidebar">
            <div class="sidebar__container">
                <h2 class="content__header">FEATURED<br> GLASS</h2>
                <div>
                    <div class="sidebar-slider">
                        <div><img src="images/slick/sidebar-slide_1.jpg" alt="sidebar-slide1"></div>
                        <div><img src="images/slick/sidebar-slide_1.jpg" alt="sidebar-slide2"></div>
                        <div><img src="images/slick/sidebar-slide_1.jpg" alt="sidebar-slide3"></div>
                    </div>
                </div>
            </div>
            <div class="sidebar__container">
                <h2 class="content__header">NEWSLETTERS<br> SIGNUP</h2>
                <p class="sidebar__content">Lorem ipsum dolor sit amen,<br> dolor imun ra adlip ulissys</p>
                <form action="" class="form">
                    <input type="text" class="form__input"><br>
                    <button class="form__button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <section class="wrapper flex panel">
            <div class="flex panel__item">
                <img src="images/ui/car.png" alt="car">
                <h4 class="panel__header">FREE SHIPPING ON ORDERS OVER $100</h4>
            </div>
            <div class="flex panel__item">
                <img src="images/ui/phone.png" alt="phone">
                <h4 class="panel__header">CALL US! TOLL FREE- 409-8888-0099</h4>
            </div>
        </section>
        <section class="wrapper flex footer">
            <div class="fblock">
                <div>
                    <h4 class="fblock__header">FACEBOOK</h4>
                    <span>20000 members</span><br>
                    <button>Like</button>
                </div>
                <div class="fblock__line"></div>
                <div>
                    <div class="flex fblock__info">
                        <a href="#"><img src="images/social/person-01.jpg" alt="social1"></a>
                        <a href="#"><img src="images/social/person-02.jpg" alt="social2"></a>
                        <a href="#"><img src="images/social/person-03.jpg" alt="social3"></a>
                        <a href="#"><img src="images/social/person-04.jpg" alt="social4"></a>
                    </div>
                    <div class="flex fblock__info">
                        <a href="#"><img src="images/social/person-05.jpg" alt="social5"></a>
                        <a href="#"><img src="images/social/person-06.jpg" alt="social6"></a>
                        <a href="#"><img src="images/social/person-07.jpg" alt="social7"></a>
                        <a href="#"><img src="images/social/person-08.jpg" alt="social8"></a>
                    </div>
                </div>
                <div class="fblock__line"></div>
                <div class="fblock__info">
                    <a href="#">facebook Social plugin</a>
                </div>
            </div>

            <div class="fblock">
                <h4 class="fblock__header">FROM TWITTER</h4>
                <div>
                    <div class="flex fblock__info">
                        <div><img src="images/ui/twitter.png" alt="twitter icon"></div>
                        <p class="fblock__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the</p>
                    </div>
                    <div class="flex fblock__info">
                        <div><img src="images/ui/twitter.png" alt="twitter icon"></div>
                        <p class="fblock__content">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the</p>
                    </div>
                </div>
            </div>

            <div class="fblock">
                <h4 class="fblock__header">INFORMATION</h4>
                <div class="flex fblock__info">
                    <ul class="list">
                        <li class="list__item list__item_info">Sed ultrices purus non.</li>
                        <li class="list__item list__item_info">sodales sodales.</li>
                        <li class="list__item list__item_info">Curabitur pretium dui vitae.</li>
                        <li class="list__item list__item_info">Donec gravida mi in nisl </li>
                        <li class="list__item list__item_info">faucibus leo condimentum.</li>
                        <li class="list__item list__item_info">Donec et lorem suscipit.</li>
                    </ul>
                </div>
            </div>

            <div class="fblock">
                <h4 class="fblock__header">CONTACTS</h4>
                <div class="flex fblock__info">
                    <ul class="list">
                        <li class="list__item">Leo Store</li>
                        <li class="list__item">Leopards media</li>
                        <li class="list__item">KVM Rpad, 4590GH</li>
                        <li class="list__item">+1 489-8888-0099</li>
                        <li class="list__item">mail@email.com</li>
                    </ul>
                </div>
                <div class="fblock__line"></div>
                <div class="flex fblock__info">
                    <a href="#"><img src="images/ui/g.png" alt="g"></a>
                    <a href="#"><img src="images/ui/in.png" alt="in"></a>
                    <a href="#"><img src="images/ui/rss.png" alt="rss"></a>
                    <a href="#"><img src="images/ui/f.png" alt="f"></a>
                </div>
            </div>
        </section>
        <section class="panel panel_footer">
            <div class="wrapper flex">
                <div class="panel__copyright">
                    &copy; Copyright 2013 Css Author, All Rights Reserved.
                </div>
                <div class="panel__menu">
                    <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__link menu__link_footer">About Us</a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link_footer">Delivery & Returns</a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link_footer">Terms & Conditions</a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link_footer">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>