.section-content{
    margin: 1.3rem 0;
    .menu{
        border: 1px solid $color16;
        padding: 0 2.4rem;
        &__header{
            @include font($color13, lighter, 2.4rem);
        }
        &__subheader{
            @include font($color14, bold, 1.7rem);
            margin: 1.5rem 0 1.7rem 0;
        }
        .nav-link{
            @include font($color05, normal, 1.5rem, $font-SUI);
            border-bottom: 0.1rem solid $color15;
            margin-top: 0.7rem;
            &:hover, &.active{
                background: $c-menu-bg;
                color: $color01;
                border: 0;
            }
        }
    }
    .content{
        /* tabs */
        .nav{
            &-item{
                margin-left: -1px;
                &:first-child{
                    margin-left: 0px;
                }
            }
            &-link{
                @include font($color17, normal, 1.7rem, $font-HLT);
                padding: 1.2rem;
                border: 1px solid $color16;
                border-bottom: 0;
                &.active{
                    @include font($color04, bold, 1.8rem, $font-HLT);
                }
            }
        }
        .tab-content{
            padding: 2.4rem 2.4rem 0 2.4rem;
            border: 1px solid $color16;
            border-top: 0;
        }
        /* books */
        .card{
            border: 0;
            height: 100%;
            &-discount{
                background-color: $color06;
                padding: 10px 2px 9px 5px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                position: absolute;
                top: -20px;
                right: -20px;
                text-align: center;
                p{
                    @include font($color01, bold, 19px, $font-main);
                    margin-bottom: 0;
                    line-height: 19px;
                }
                span{
                    @include font($color01, normal, 13px, $font-main);
                    line-height: 0;
                }
            }
            &-img-top{
                padding: 0.5rem;
                border-radius: 4px;
                box-shadow: 0 0 5px $color02;
            }
            &-body{
                display: flex;
                justify-content: center;
                
                .card-text{
                    @include font($color18, lighter, 1.5rem, $font-main);
                }
                .card-price{
                    @include font($color06, normal, 2.1rem, $font-HLT);
                    align-self: flex-end;
                }
                &:nth-child(3){
                    padding-bottom: 0;
                }
                &:nth-child(4){
                    padding-top: 0.5rem;
                }
            }
        }
        /* pagination */
        .page{
            &-item{
                margin-right: 0.7rem;
                &.active{
                    border: 1px solid $color15;
                    border-bottom: 0.4rem solid $c-search-bg;
                } 
            }
            &-link{
                @include font($color18, normal, 1.5rem, $font-HLT);
                border: 0;
                background: none;
            }
        }
    }
}

// page detail.html
.section-content{
    .border-main{
        border: .1rem solid $color10;
        border-radius: .7rem;
        padding: 2.2rem;
        margin-bottom: 1.8rem;
    }
    .product{
        &__header{
            @include font($color05, lighter, 4.1rem, $font-main);
            padding-bottom: 2rem;
        }
        &__text{
            @include font($color19, normal, 1.6rem, $font-SUI);
        }
        &__price{
            .price{
                border-radius: 0;
                
                &__header{
                    @include font($color20, bold, 3.6rem, $font-main);
                    span{
                        color: $color21;
                    }
                }
                &__description{
                    @include font($color19, normal, 1.7rem, $font-SUI);
                }
                &__button{
                    margin-left: 3rem;
                }
                &__cards{
                    border-top: 1px solid $color10;
                    padding-top: .8rem;
                    .cards{
                        
                    }
                }
                &__text{
                    @include font($color19, normal, 1.3rem, $font-HLT);
                }
            }
        }
    }
    .product-details{
        .nav{
            &-tabs, &-item, &-link{
                border-top-left-radius: .7rem;
                border-top-right-radius: .7rem;
                border-bottom: 0;
            }
            &-item{
                background-color: $color22;
                margin-right: 1.1rem;
            }
            &-link{
                @include font($color01, normal, 1.6rem, $font-SUI);
                &.active{
                    @include font($color19, normal, 1.8rem, $font-SUI);
                }
            }
        }
        .tab-content{
            @include font($color19, normal, 1.4rem, $font-SUI);
            padding-top: 2rem;
            border-top-left-radius: 0;
        }
    }
    .comments{
        &__container{
            .comment:last-child{
                border-bottom: 0;
            }
        }
        .comment{
            padding-bottom: 1rem;
            border-bottom: 1px solid $color15;
            &__header{
                @include font($color19, normal, 2rem, $font-SUI);
                padding: 1.5rem 0;
            }
            &__name{
                @include font($color23, normal, 1.4rem, $font-SUI);
            }
            &__text{
                @include font($color19, normal, 1.3rem, $font-SUI);
                margin-left: -15px; // bootstrap
            }
        }
        .comments__message{
            .comments__header{
                @include font($color19, normal, 2rem, $font-SUI);
                padding: 1.5rem 0;
            }
            .form-comments{
                label{
                    @include font($color23, normal, 1.6rem, $font-SUI);
                }
                input, textarea{
                    @include font($color19, normal, 1.6rem, $font-SUI);
                    border-radius: .6rem;
                }
                .form-button{
                    @include button($color12, .3rem, 1rem 1.9rem , false, false);
                    @include font($color01, bold, 1.8rem, $font-HLT);
                }
            }
        }
    }
    .rsidebar{
        $content-paddings-x: 2.2rem;
        padding: $content-paddings-x 0;
        margin-left: -15px; //bootstrap
        .book:last-child{
            border-bottom: 0;
        }
        &__header{
            @include font($color19, normal, 1.8rem, $font-SUI);
            margin-bottom: 1.4rem;
            padding: 0 $content-paddings-x;
        }
        .book{
            border-bottom: 1px solid $color15;
            padding: 1rem $content-paddings-x 1rem $content-paddings-x;
            &__image{
                padding: 0.5rem;
                border-radius: 4px;
                box-shadow: 0 0 5px $color02;
            }
            &__header{
                @include font($color05, lighter, 1.5rem, $font-main);
            }
            &__price{
                @include font($color06, bold, 2.1rem, $font-HLT);
            }
            button{
                @include button($color05, .6rem, .4rem .6rem , false, false);
                @include font($color01, normal, 1.5rem, $font-SUI);
                margin-top: 1rem;
            }
        }
    }
}