$c-panel-bg: #424242;
$c-search-bg: #79b260;
$c-header-bg: linear-gradient(to top, #ebebeb, #ffffff);
$c-menu-bg: linear-gradient(to top, #7ab361, #92d774);
$c-content-bg: #ffffff;
$bg-deal: radial-gradient(circle, rgba(180,180,180,1) 0%, rgba(184,184,184,1) 53%, rgba(88,88,88,1) 100%);

$color01: #ffffff;
$color02: #6d6d6d;
$color03: #5b5b5b;
$color04: #464646;
$color05: #595959;
$color06: #f05356;
$color07: #dddddd;
$color08: #3a3a3a;
$color09: #cecece;
$color10: #dedede;
$color11: #c9c9c9;
$color12: linear-gradient(to bottom, #61c161, #52a552);
$color13: #6b6b6b;
$color14: #696969;
$color15: #e6e7e8;
$color16: #d6d6d6;
$color17: #6b6969;
$color18: #646464;

$font-main: 'Segoe WP', sans-serif, arial;
$font-SUI: 'Segoe UI', Tahoma, sans-serif;
$font-HLT: 'Helvetica LT Std', Tahoma, sans-serif;

@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Regular.ttf');
    font-style: normal; font-weight: normal;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Light.ttf');
    font-style: normal; font-weight: lighter;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-SemiLight.ttf');
    font-style: normal; font-weight: 200;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Bold.ttf');
    font-style: normal; font-weight: bold;
}
@font-face{
    font-family: 'Helvetica LT Std'; src: url('../fonts/Helvetica-LTStd-Roman.otf');
    font-style: normal; font-weight: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;font-style: normal;
}
