$c-panel-bg: #424242;
$c-search-bg: #79b260;
$c-header-bg: linear-gradient(to bottom bottom, #ffffff, #ebebeb);
$c-menu-bg: linear-gradient(to bottom bottom, #92d774, #7ab361);
$c-content-bg: #ffffff;

$c-text-1: #ffffff;
$c-text-2: #6d6d6d;
$c-text-3: #5b5b5b;
$c-text-4: #464646;
$c-text-5: #595959;
$c-text-6: #f05356;
$c-text-7: #dddddd;

$font-main: 'Segoe WP', sans-serif, arial;
$font-price: 'Helvetica LT Std', Tahoma, sans-serif;

@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Regular.ttf');
    font-style: normal; font-weight: normal;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Light.ttf');
    font-style: normal; font-weight: lighter;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-SemiLight.ttf');
    font-style: normal; font-weight: 200;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Bold.ttf');
    font-style: normal; font-weight: bold;
}
@font-face{
    font-family: 'Helvetica LT Std'; src: url('../fonts/Helvetica-LTStd-Roman.otf');
    font-style: normal; font-weight: normal;
}
