$c-panel-bg: #424242;
$c-search-bg: #79b260;
$c-header-bg: linear-gradient(to top, #ebebeb, #ffffff);
$c-menu-bg: linear-gradient(to top, #7ab361, #92d774);
$c-content-bg: #ffffff;

$c-text-01: #ffffff;
$c-text-02: #6d6d6d;
$c-text-03: #5b5b5b;
$c-text-04: #464646;
$c-text-05: #595959;
$c-text-06: #f05356;
$c-text-07: #dddddd;
$c-text-08: #3a3a3a;
$c-text-09: #cecece;
$c-text-10: #dedede;

$font-main: 'Segoe WP', sans-serif, arial;
$font-price: 'Helvetica LT Std', Tahoma, sans-serif;

@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Regular.ttf');
    font-style: normal; font-weight: normal;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Light.ttf');
    font-style: normal; font-weight: lighter;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-SemiLight.ttf');
    font-style: normal; font-weight: 200;
}
@font-face{
    font-family: 'Segoe WP'; src: url('../fonts/Segoe-WP-Bold.ttf');
    font-style: normal; font-weight: bold;
}
@font-face{
    font-family: 'Helvetica LT Std'; src: url('../fonts/Helvetica-LTStd-Roman.otf');
    font-style: normal; font-weight: normal;
}
