<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lipsum Media</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="container">
    <div class="ml-auto mt-1 row justify-content-around bg-color panel">
        <form class="form-inline ml-auto pr-0 form col-10">
            <input class="form-control mr-sm-2 form__input" type="search">
            <button class="btn form__button" type="submit">Subscribe</button>
        </form>
        <div class="col-2 px-0 social">
            <span> | </span>
            <a href="#"><img src="images/social/twitter.png" alt="twitter" class="mr-2"></a>
            <span> | </span>
            <a href="#"><img src="images/social/facebook.png" alt="facebook"></a>
        </div>
    </div>

    <header class="my-md-5 header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand header__link" href="#">
                <img src="images/logo.png" alt="logo"> <b class="header__text">Lispum</b> Media
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section-main bg-color">
        <h2 class="section-main__header">Lipsum Media Presentation</h2>
        <div class="row mx-4 section-main__content">
            <div class="col-8">
                <div class="row bg-dark block1">
                    <div class="col-8">
                        <h2 class="block1__mheader">Featuard projects</h2>
                        <iframe width="432" height="366" src="https://www.youtube.com/embed/NknaXtT7wKM" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="w-100"></iframe>
                    </div>
                    <div class="col-4">
                        <h4 class="block1__header">client</h4>
                        <p class="block1__text">Jommy</p>

                        <h4 class="block1__header">Project description</h4>
                        <p class="block1__text">
                            olor massa hac auctor! Ac, mauris massa. Sit pellentesque ridiculus
                            pid, scelerisque augue amet parturient?
                        </p>

                        <h4 class="block1__header">Software</h4>
                        <p class="block1__text">Photoshop</p>

                        <h4 class="block1__header">Level Of Service</h4>
                        <p class="block1__text">Photoshop</p>
                    </div>
                </div>
            </div>
            <div class="pl-sm-5 col-4">
                <div class="card bg-white block1">
                    <div class="card-body">
                        <h5 class="card-title block1__header mt-0">Project description</h5>
                    </div>
                    <img src="images/project_descr.jpg" alt="project_descr" class="img-fluid">
                    <div class="card-body">
                        <p class="card-text">
                            Ac aliquam pid amet, lorem eu, etiam ultrices, egestas. Et porttitor a,
                            lacus egestas est rhoncus, egestas amet facilisis augue pellentesque.
                            Nec? Velit tristique. Proin facilisis porta porttitor in tortor vel
                        </p>
                        <a href="#" class="btn btn-primary float-right">Raed more</a>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- section-main -->
    <section class="row section-progress">

    </section> <!-- section-progress -->
    <!-- wrapper -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>