<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lipsum Media</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="container">
    <div class="ml-auto mt-1 row justify-content-around bg-color panel">
        <form class="form-inline ml-auto pr-0 form col-10">
            <input class="form-control mr-sm-2 form__input" type="search">
            <button class="btn form__button" type="submit">Subscribe</button>
        </form>
        <div class="col-2 px-0 social">
            <span> | </span>
            <a href="#"><img src="images/social/twitter.png" alt="twitter" class="mr-2"></a>
            <span> | </span>
            <a href="#"><img src="images/social/facebook.png" alt="facebook"></a>
        </div>
    </div>

    <header class="my-md-5 header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand header__link" href="#">
                <img src="images/logo.png" alt="logo"> <b class="header__text">Lispum</b> Media
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section-main bg-color">

    </section>
    </div>
    <!-- wrapper -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>