<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books online</title>
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <section class="section-panel">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </div>
    </section>
    <header class="header">
        <div class="navbar navbar-expand-lg">
            <div class="header__container">
                <a class="navbar-brand" href="#">
                    <img src="img/ui/logo.jpg" alt="logo">
                </a>

                <form class="form">
                    <input class="form__input" type="search" placeholder="Search" aria-label="Search">
                    <button class="form__button" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search
                    </button>
                </form>
            </div>

            <div class="header__container">
                <div class="backet">
                    <div class="backet__container">
                        <i class="fa fa-shopping-cart backet__icon" aria-hidden="true"></i>
                        <h2 class="backet__header">Your cart <span>(2 items)</span></h2>
                    </div>
                    <div class="backet__container">
                        <p class="backet__price">$125</p>
                        <a href="#" class="backet__button">Checkout</a>
                    </div>
                </div>
                <div class="wishlist">
                    <i class="fas fa-star wishlist__icon"></i>
                    <h2 class="wishlist__header">Wish list</h2>
                    <span class="wishlist__count">20</span>
                </div>
            </div>
        </div>
    </header>

    <section class="section-menu">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Computers</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cooking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fiction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Health</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mathematics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Medical</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Science</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <section class="section-slider">

    </section>

    <script src="vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
</body>

</html>