<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books online</title>
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <section class="section-panel">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </div>
    </section>
    <header class="header">
        <div class="container">
            <div class="navbar navbar-expand-lg">
                <div class="header__container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <a class="pl-3 navbar-brand" href="#">
                        <img src="img/ui/logo.jpg" alt="logo">
                    </a>

                    <form class="form">
                        <input class="form__input" type="search" placeholder="Search" aria-label="Search">
                        <button class="form__button" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                    </form>
                </div>

                <div class="header__container">
                    <div class="backet">
                        <div class="backet__container">
                            <i class="fa fa-shopping-cart backet__icon" aria-hidden="true"></i>
                            <h2 class="backet__header">Your cart <span>(2 items)</span></h2>
                        </div>
                        <div class="backet__container">
                            <p class="backet__price">$125</p>
                            <a href="#" class="backet__button">Checkout</a>
                        </div>
                    </div>
                    <div class="wishlist">
                        <i class="fas fa-star wishlist__icon"></i>
                        <h2 class="wishlist__header">Wish list</h2>
                        <span class="wishlist__count">20</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="section-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Computers</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cooking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fiction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Health</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mathematics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Medical</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reference</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Science</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="section-slider">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div id="carousel1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/slider/slide01.jpg" class="d-block w-100" alt="slide01">
                            </div>
                            <div class="carousel-item">
                                <img src="img/slider/slide01.jpg" class="d-block w-100" alt="slide01">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 px-0">
                    <div class="deal">
                        <header class="deal__block">
                            <h2 class="deal__header">Deal of the Month</h2>
                            <h4 class="deal__subheader">The Human Face of Big Data</h4>
                        </header>
                        <div class="deal__block">
                            <div class="deal__img">
                                <img src="img/discount/discount01.jpg" alt="discount01" class="img-fluid">
                                <img src="img/discount/bottom.png" alt="bottom" class="img-fluid">
                            </div>
                        </div>
                        <div class="deal__block">
                            <div class="deal__discount">Save 45% Today</div>
                            <div class="w-100"></div>
                            <div class="deal__price">$27.50</div>
                        </div>
                        <div class="deal__block">
                            <a href="#" class="button deal__button">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <nav class="menu">
                        <header class="menu__header">Categories</header>
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">ALL</a>
                            </li>
                            <li class="nav-item menu__subheader">Fiction & Literature</li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Children</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Science Fiction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Fantasy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mystery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Romance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Horror</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Poetry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Literature</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Crime</a>
                            </li>
                            <li class="nav-item menu__subheader">Non - Fiction</li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Comic</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cook</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Psychology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Medical</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Art</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Photography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Law</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Business</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Computer</a>
                            </li>
                            <li class="nav-item menu__subheader">Other</li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Baby</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sex</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Travel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Science</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sports</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-9">
                    <section class="content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="bestsellers-tab" data-toggle="tab" href="#bestsellers"
                                    role="tab" aria-controls="bestsellers" aria-selected="true">Best sellers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="newarrivals-tab" data-toggle="tab" href="#newarrivals"
                                    role="tab" aria-controls="newarrivals" aria-selected="false">New Arrivals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="usedbooks-tab" data-toggle="tab" href="#usedbooks" role="tab"
                                    aria-controls="usedbooks" aria-selected="false">Used Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="specialoffers-tab" data-toggle="tab" href="#specialoffers"
                                    role="tab" aria-controls="specialoffers" aria-selected="false">Special Offers</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="bestsellers" role="tabpanel"
                                aria-labelledby="bestsellers-tab">
                                <div class="row">
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/the-hare-with-amber-eyes.jpg"
                                                    alt="the-hare-with-amber-eyes" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Hare With Amber Eyes</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$50</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/the-war-of-art.jpg" alt="the-war-of-art"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The war of Art</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$60</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/can-love-happen-twice.jpg"
                                                    alt="can-love-happen-twice" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Hare With Amber Eyes</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$25</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/meluha.jpg" alt="meluha" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Immortals of Meluha</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$80</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/life-is-what-you-make-it.jpg"
                                                    alt="life-is-what-you-make-it" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">Life Is What You Make It</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$200</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/marathon-baba.jpg" alt="marathon-baba"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Hare With Amber Eyes</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$200</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/calico-joe.jpg" alt="calico-joe"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The war of Art</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$150</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/the-long-dark.jpg" alt="the-long-dark"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Hare With Amber Eyes</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$100</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/the-armageddon-rag.jpg" alt="the-armageddon-rag"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Immortals of Meluha</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$152</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/a-walk-across-the-sun.jpg"
                                                    alt="a-walk-across-the-sun" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">Life Is What You Make It</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$200</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/the-sins-of-the-father.jpg"
                                                    alt="the-sins-of-the-father" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Hare With Amber Eyes</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$220</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/the-magic.jpg" alt="the-magic"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The war of Art</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$10</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/urban-shots.jpg" alt="urban-shots"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Hare With Amber Eyes</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$22</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/calico-joe.jpg" alt="calico-joe"
                                                    class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">The Immortals of Meluha</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$300</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                                        <a href="#">
                                            <div class="card">
                                                <div class="card-discount d-none">
                                                    <p>30%</p><span>Off</span>
                                                </div>
                                                <img src="img/content/i-never-knew-it-was-you.jpg"
                                                    alt="i-never-knew-it-was-you" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">Life Is What You Make It</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-price">$205</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <nav aria-label="page">
                                    <ul class="justify-content-end pagination page">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="tab-pane fade" id="newarrivals" role="tabpanel"
                                aria-labelledby="newarrivals-tab">
                                <div class="row">
                                    <div class="col">
                                        <h4>New Arrivals</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="usedbooks" role="tabpanel" aria-labelledby="usedbooks-tab">
                                <div class="row">
                                    <div class="col">
                                        <h4>Used Books</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="specialoffers" role="tabpanel"
                                aria-labelledby="specialoffers-tab">
                                <div class="row">
                                    <div class="col">
                                        <h4>Special Offers</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <section class="footer__menu">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <header>Biography & True Stories</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Diaries, Letters & Journals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Memoirs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">True Stories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Generic Exams</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">GK Titles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Medical Entrance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Other Entrance Exams</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">PG Entrance Examinations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Self-help Titles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sociology</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <header>Professional & Reference</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Academic and Reference</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Business Trade</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Engineering and Computer Science</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Humanities, Social Sciences and Languages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Introduction to Computers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Science and Maths</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trade Business</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">English Language & Literature</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">English Language Teaching</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Environment Awareness</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Environment Protection</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <header>Earth Sciences</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Earth Sciences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Geography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">The Environment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Regional & Area Planning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Fantasy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Gay</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Humorous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Interactive</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Legal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Lesbian</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Men'S Adventure</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Movie Or Television Tie-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mystery & Detective</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Political</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <header>Mathematics</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Algebra</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Differential Equations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Discrete Mathematics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Fourier Analysis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Numerical Analysis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Probability</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Statistical Methods/data Analysis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Stochastic And Random Processes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Topology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mathematics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Statistical Methods</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer__cards">
            <div class="container">
                <header>We accept all major Credit Card/Debit Card/Internet Banking</header>
                <div class="cards">
                    <img src="img/ui/mastercard.jpg" alt="mastercard">
                    <img src="img/ui/americanexpress.jpg" alt="americanexpress">
                    <img src="img/ui/visa.jpg" alt="visa">
                </div>
            </div>
        </section>
        <section class="footer__copyrights">
            <div class="container">
                <header> Conditions of Use Privacy Notice &copy; 2012-2013, Booksonline, Inc. or its affiliates</header>
            </div>
        </section>
    </footer>

    <script src="vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
</body>

</html>