<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books online</title>
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <section class="section-panel">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#sign" data-toggle="modal" data-target="#sign">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#myaccount" data-toggle="modal" data-target="#myaccount">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#orderstatus" data-toggle="modal" data-target="#orderstatus">Order
                        Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <!-- Sign In & Registration -->
            <div class="modal fade" id="sign" tabindex="-1" role="dialog" aria-labelledby="signLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- tabs -->
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-signin-tab" data-toggle="pill"
                                        href="#pills-signin" role="tab" aria-controls="pills-signin"
                                        aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-reg-tab" data-toggle="pill" href="#pills-reg"
                                        role="tab" aria-controls="pills-reg" aria-selected="false">Registration</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-signin" role="tabpanel"
                                    aria-labelledby="pills-signin-tab">

                                    <form action="" method="post" class="px-5 form form-user">
                                        <div class="form-group">
                                            <label for="singin-login">Login</label>
                                            <input type="text" class="form-control" id="singin-login"
                                                placeholder="Enter login" name="signin-login" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="singin-password">Password</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                placeholder="Password" name="signin-password" required>
                                        </div>
                                        <div class="error">Wrong login or password</div>
                                        <button type="submit" class="button form-btn">Sing In</button>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="pills-reg" role="tabpanel"
                                    aria-labelledby="pills-reg-tab">

                                    <form action="" method="post" class="px-5 form form-user">
                                        <div class="form-group">
                                            <label for="reg-name">Name</label>
                                            <input type="text" class="form-control" id="reg-name"
                                                placeholder="Enter your name" name="reg-name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg-surname">Surname</label>
                                            <input type="text" class="form-control" id="reg-surname"
                                                placeholder="Enter your surname" name="reg-surname" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg-adress">Adress</label>
                                            <input type="text" class="form-control" id="reg-adress"
                                                placeholder="Enter Adress" name="reg-adress" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg-adress">Phone</label>
                                            <input type="text" class="form-control" id="reg-phone"
                                                placeholder="Enter phone" name="reg-phone" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg-login">Login</label>
                                            <input type="text" class="form-control" id="reg-login"
                                                placeholder="Enter login" name="reg-login" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="reg-password">Password</label>
                                            <input type="password" class="form-control" id="reg-password"
                                                placeholder="Password" name="reg-password" required>
                                        </div>
                                        <div class="error">Incorrect login and password</div>
                                        <button type="submit" class="button form-btn">Registration</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- SignIn & Registration -->

            <!-- My account -->
            <div class="modal fade" id="myaccount" tabindex="-1" role="dialog" aria-labelledby="myaccountLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="px-5 modal-title" id="myaccountLabel">My account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form action="" method="post" class="px-5 form form-user">
                                <div class="form-group">
                                    <label for="myaccount-name">Name</label>
                                    <input type="text" class="form-control" id="myaccount-name" placeholder="your name"
                                        name="myaccount-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="reg-surname">Surname</label>
                                    <input type="text" class="form-control" id="myaccount-surname"
                                        placeholder="your surname" name="myaccount-surname" required>
                                </div>
                                <div class="form-group">
                                    <label for="myaccount-adress">Adress</label>
                                    <input type="text" class="form-control" id="myaccount-adress" placeholder="Adress"
                                        name="myaccount-adress" required>
                                </div>
                                <div class="form-group">
                                    <label for="myaccount-adress">Phone</label>
                                    <input type="text" class="form-control" id="myaccount-phone" placeholder="phone"
                                        name="myaccount-phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="myaccount-login">Login</label>
                                    <input type="text" class="form-control" id="myaccount-login" placeholder="login"
                                        name="myaccount-login" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="myaccount-password">Password</label>
                                    <input type="password" class="form-control" id="myaccount-password"
                                        placeholder="Password" name="myaccount-password" required>
                                </div>
                                <div class="error">Wrong login or password</div>
                                <button type="submit" class="button form-btn">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- My account -->

            <!-- Order status -->
            <div class="modal fade" id="orderstatus" tabindex="-1" role="dialog" aria-labelledby="orderstatusLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="px-5 modal-title" id="orderstatusLabel">Order status</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="px-5 modal-body">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Order</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>The Hare With Amber Eyes</td>
                                        <td>Order is accepted</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Calico Joe</td>
                                        <td>Order is accepted</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- Order status -->
        </div>
    </section>
    <header class="header">
        <div class="container">
            <div class="navbar navbar-expand-lg">
                <div class="pb-sm-4 header__container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <a class="pl-3 navbar-brand" href="#">
                        <img src="img/ui/logo.jpg" alt="logo">
                    </a>

                    <form action="" method="get" class="form">
                        <input class="form__input" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="form__button" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                    </form>
                </div>

                <div class="ml-lg-auto header__container">
                    <div class="backet">
                        <div class="backet__container">
                            <i class="fa fa-shopping-cart backet__icon" aria-hidden="true"></i>
                            <h2 class="backet__header">Your cart <span>(2 items)</span></h2>
                        </div>
                        <div class="backet__container">
                            <p class="backet__price">$125</p>
                            <a href="#" class="backet__button">Checkout</a>
                        </div>
                    </div>
                    <div class="wishlist">
                        <a href="#">
                            <i class="fas fa-star wishlist__icon"></i>
                            <h2 class="wishlist__header">Wish list</h2>
                            <span class="wishlist__count">20</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="section-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Computers</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cooking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fiction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Health</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mathematics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Medical</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reference</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Science</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="section-content">
        <div class="container">
            <section class="content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="backet-tab" data-toggle="tab" href="#backet" role="tab"
                            aria-controls="backet" aria-selected="false">Backet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#wishlist" role="tab"
                            aria-controls="wishlist" aria-selected="false">Wishlist</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="backet" role="tabpanel" aria-labelledby="backet-tab">
                        <div class="content__backet">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Book</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Edmund De Waae</td>
                                        <td>The Hare With Amber Eyes</td>
                                        <td>$50</td>
                                        <td>School street, 72</td>
                                        <td>Ordered</td>
                                        <td><a href="#" class="button">Remove</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Ravinder Singh</td>
                                        <td>Can love happen twice?</td>
                                        <td>$25</td>
                                        <td>University avenue, 3</td>
                                        <td>Ordered</td>
                                        <td><a href="#" class="button">Remove</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Edmund De Waae</td>
                                        <td>The Hare With Amber Eyes</td>
                                        <td>$50</td>
                                        <td>School street, 72</td>
                                        <td>Ordered</td>
                                        <td><a href="#" class="button">Remove</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
                        <div class="content__backet">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Book</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Edmund De Waae</td>
                                        <td>The Hare With Amber Eyes</td>
                                        <td>$50</td>
                                        <td>School street, 72</td>
                                        <td>Ordered</td>
                                        <td>
                                            <a href="#" class="button">Remove</a>
                                            <a href="#" class="button">Order</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Ravinder Singh</td>
                                        <td>Can love happen twice?</td>
                                        <td>$25</td>
                                        <td>University avenue, 3</td>
                                        <td>Ordered</td>
                                        <td>
                                            <a href="#" class="button">Remove</a>
                                            <a href="#" class="button">Order</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Edmund De Waae</td>
                                        <td>The Hare With Amber Eyes</td>
                                        <td>$50</td>
                                        <td>School street, 72</td>
                                        <td>Ordered</td>
                                        <td>
                                            <a href="#" class="button">Remove</a>
                                            <a href="#" class="button">Order</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Ravinder Singh</td>
                                        <td>Can love happen twice?</td>
                                        <td>$25</td>
                                        <td>University avenue, 3</td>
                                        <td>Ordered</td>
                                        <td>
                                            <a href="#" class="button">Remove</a>
                                            <a href="#" class="button">Order</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </section>

    <footer class="footer">
        <section class="footer__menu">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <header>Biography & True Stories</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Diaries, Letters & Journals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Memoirs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">True Stories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Generic Exams</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">GK Titles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Medical Entrance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Other Entrance Exams</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">PG Entrance Examinations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Self-help Titles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sociology</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <header>Professional & Reference</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Academic and Reference</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Business Trade</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Engineering and Computer Science</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Humanities, Social Sciences and Languages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Introduction to Computers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Science and Maths</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trade Business</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">English Language & Literature</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">English Language Teaching</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Environment Awareness</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Environment Protection</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <header>Earth Sciences</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Earth Sciences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Geography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">The Environment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Regional & Area Planning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Fantasy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Gay</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Humorous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Interactive</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Legal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Lesbian</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Men'S Adventure</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Movie Or Television Tie-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mystery & Detective</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Political</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                        <header>Mathematics</header>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Algebra</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Differential Equations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Discrete Mathematics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Fourier Analysis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Numerical Analysis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Probability</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Statistical Methods/data Analysis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Stochastic And Random Processes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Topology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mathematics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Statistical Methods</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer__cards">
            <div class="container">
                <header>We accept all major Credit Card/Debit Card/Internet Banking</header>
                <div class="cards">
                    <img src="img/ui/mastercard.jpg" alt="mastercard">
                    <img src="img/ui/americanexpress.jpg" alt="americanexpress">
                    <img src="img/ui/visa.jpg" alt="visa">
                </div>
            </div>
        </section>
        <section class="footer__copyrights">
            <div class="container">
                <header> Conditions of Use Privacy Notice &copy; 2012-2013, Booksonline, Inc. or its affiliates</header>
            </div>
        </section>
    </footer>

    <script src="vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
</body>

</html>